/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/*.html
/resources/public/js
/resources/public/stylesheets
/resources/public/images
/out
/.repl
/bin/deploy
.nrepl-history
