/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/resources/public/css
/out
/.repl
/bin/deploy
.nrepl-history
/.gems/
.clj-kondo/
node_modules/
.cpcache/
.lsp/
.shadow-cljs/
